.landing-page {
  background: linear-gradient(0deg, #f6f2ff, #f6f2ff), #fbfaff;
  padding: 0 1.75rem;
  font-family: "Helvetica";
  height: 100vh;
}

.landing-page .content {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 32px;
  padding-block-start: 60px;
}

.content header {
  max-width: 300px;
  order: 1;
  margin: auto;
}

header h1 {
  color: #240d57;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  max-width: 200px;
  margin: 1rem auto;
}

header h1 > span {
  background: linear-gradient(90deg, #8456ec 24.2%, #e87bf8 120.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

header p {
  color: #4f4f4f;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}

header button {
  display: none;
}

.content img {
  width: 165.63px;
  margin: auto;
  order: 2;
}

button {
  order: 3;
  background: linear-gradient(90deg, #8456ec 3.25%, #e87bf8 100%);
  border-radius: 10px;
  width: 70%;
  margin: auto;
  padding: 16px;
  box-shadow: none;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

@media (min-width: 768px) {
  .landing-page .content {
    /* align-content: stretch; */
    gap: 56px;
  }
  .content header {
    max-width: 500px;
  }
  .content h1 {
    font-size: 64px;
    line-height: 74px;
    max-width: 400px;
  }

  .content p {
    font-size: 24px;
    line-height: 28px;
  }

  .content img {
    width: 311px;
  }
}

@media (min-width: 1280px) {
  .landing-page .content {
    grid-template-columns: repeat(2, 1fr);
    max-width: 80%;
    margin: auto;
    align-content: center;
    height: 100%;
    padding-block-start: 0;
  }
  .content header {
    order: 2;
    text-align: right;
  }

  .content p {
    text-align: right;
    margin: 1rem auto;
  }

  .content header button {
    display: block;
    margin: 1.75rem 0 1.75rem auto;
  }

  header h1 {
    margin: 0;
    margin-left: auto;
  }
  .content img {
    order: 1;
    /* width: 440px; */
    margin: 0;
  }

  .content button {
    display: none;
  }
}
