.create-event {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-block-start: 30px;
  padding-left: 12px;
  padding-right: 12px;
  height: 100%;
}

.create-event .event-form-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  justify-content: space-between;
}

.create-event h1 {
  color: #240d57;
  margin: 10px auto 25px auto;
}

.create-event form {
  display: flex;
  flex-direction: column;
}

.create-event div {
  margin-bottom: 4px;
}

.create-event label {
  color: #240d57;
  font-weight: 500;
}

.create-event input {
  inline-size: 100%;
  border-radius: 10px;
  box-shadow: none;
  height: 56px;
  display: inline-block;
  border: 1px solid #ccc;
  margin: 8px auto 16px auto;
  padding: 8px;
}

.create-event input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}

.create-event input[type="file"]::before {
  content: "Choose Event Photo";
  color: #240d57;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 18px;
  height: 100%;
  align-items: center;
  font-weight: 500;
}

.create-event input[type="file"] {
  background-color: #ede5ff;
  height: 200px;
  color: transparent;
}

.create-event button {
  width: auto;
}

.create-event .cta {
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  width: 100%;
}

@media (min-width: 768px) {
  .create-event form {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1280px) {
  .create-event form {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
}
